[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-script = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
itsdangerouspip = "*"
flask-wtf = "*"

[requires]
python_version = "3.7"
