<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FOODLE</h1>
 <!--    <form action="/your-server-side-code" method="POST">
        <script
        src="http://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_LW5g2Lj3WnVILqfnZJmyD0SS005vo6UDbS"
        data-amount="999"
        data-name="Demo Site"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="autp"
        >

        </script>
    </form> -->
</body>
</html>